@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../partials//colors';
@import '../partials/layout';
@import '../partials/typhograpy';
@import '../partials//buttons';
@import '../partials//themes';

body {
    overflow-x: hidden;
}

.background-hero {
  width: 99.2vw;
  height: 100vh;
  background-image: url('../images/background-hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include responsive(xs) {
    width: 100vw;
  }
}

.appImage {
    width: 375.28px;
    height: 772.65px;
    background-image: url('../images/AppImage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
