@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../partials/colors';
@import '../partials/layout';
@import '../partials/typhograpy';
@import '../partials/buttons';
@import '../partials/themes';
@import '../partials/animations';

body {
  overflow-x: hidden;
}

.background-hero {
  width: 99.2vw;
  height: 100vh;
  background-image: url('../images/background-hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include responsive(xs) {
    width: 100vw;
  }
}

.appImage {
  width: 375.28px;
  height: 772.65px;
  background-image: url('../images/AppImage.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#people-one {
  background-image: url('../images/PeopleOne.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#people-two {
  background-image: url('../images/PeopleTwo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#people-three {
  background-image: url('../images/PeopleThree.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#people-four {
  background-image: url('../images/PeopleFour.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-input {
  transition: all 0.3s ease;
  input {
    position: relative;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-width: 0;
    border-bottom-width: 8px;
    background-color: transparent;
    border-radius: 0.25rem;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
    &:focus ~ label,
    &:valid ~ label {
      font-size: 1.5rem;
      transform: translateY(-25px);
    }
  }
  label {
    position: absolute;
    font-size: 1.5rem;
    pointer-events: none;
    transition: all 0.3s ease;
  }
}

.container-toggle-theme {
    --color: #007BFF;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    z-index: 10;
  }

  .container-toggle-theme .moonSvg {
    position: absolute;
    animation: keyframes-fill .5s;
  }

  .container-toggle-theme .sunSvg {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }

  .container-toggle-theme input:checked ~ .moonSvg {
    display: none;
  }

  .container-toggle-theme input:checked ~ .sunSvg {
    display: block;
  }

  .container-toggle-theme input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  @keyframes keyframes-fill {
    0% {
      transform: rotate(-360deg) scale(0);
      opacity: 0;
    }

    75% {
      transform: rotate(25deg);
    }
  }
